button, [type='button'], [type='reset'], [type='submit'], .button {
  appearance: none;
  background-color: #1565c0;
  border: 1px solid #076fe4;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-image: linear-gradient(#4294f0, #0776f3); }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus, .button:hover, .button:focus {
    background-image: linear-gradient(#2f87ea, #086fe3);
    color: #fff;
    box-shadow: inset 0 1px 0 0 #60a2ec; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled, .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover, .button:disabled:hover {
      background-color: #1565c0; }
  button:active, [type='button']:active, [type='reset']:active, [type='submit']:active, .button:active {
    border: 1px solid #076fe4;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a[href]:not(.button) {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a[href]:not(.button):active, a[href]:not(.button):focus, a[href]:not(.button):hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.code-container {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  background-color: #d8e4ef; }

.code {
  width: 40em;
  margin-top: 1rem; }
  .code th, .code td, .code tr {
    border: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em; }
  .code .line {
    line-height: 1; }
  .code .line-number {
    width: 3.7em;
    padding-left: 5px;
    white-space: nowrap;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 0.75rem;
    background-color: #e4e4e4;
    color: #959595; }
  .code .line-contents {
    display: table-cell;
    font-family: "Roboto Mono", "Consolas", "monaco", monospace;
    font-size: 1rem;
    color: black;
    white-space: pre-wrap;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%; }
    .code .line-contents .comment {
      font-style: italic;
      color: #0066FF; }
    .code .line-contents .keyword {
      font-style: bold;
      color: blue; }
    .code .line-contents .user-constant {
      font-style: bold;
      color: #C5060B; }
    .code .line-contents .builtin-constant {
      color: #585CF6;
      font-style: bold; }
    .code .line-contents .variable {
      color: #319495; }
    .code .line-contents .string-constant {
      color: #046A07; }
    .code .line-contents .function-name {
      font-style: bold;
      color: #0000A2; }
    .code .line-contents .type-name {
      font-style: bold;
      color: #672173; }
    .code .line-contents .invalid {
      background-color: #990000;
      color: white; }

header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  color: #a40f0f; }
  header h1 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 5rem;
    margin-bottom: 0.5em; }

#header-container {
  width: 100%;
  background-color: #c7ddf5;
  padding-top: 2rem;
  padding-bottom: 2rem; }

article {
  max-width: 1000px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto; }

#works-cited {
  list-style-type: decimal;
  margin-left: 3em; }
  #works-cited li {
    margin-bottom: 0.5em; }

/*# sourceMappingURL=main.css.map */
